openapi: 3.0.0
info:
  version: 2.0.0
  title: Pagopa eCommerce payment methods service
  description: This microservice handles payment methods.
  contact:
    name: pagoPA - Touchpoints team
tags:
  - name: payment-methods
    description: Api's for handle payment methods
    externalDocs:
      url: https://pagopa.atlassian.net/wiki/spaces/I/pages/611516433/-servizio+payment+methods+service
      description: Technical specifications
externalDocs:
  url: https://pagopa.atlassian.net/wiki/spaces/I/pages/492339720/pagoPA+eCommerce+Design+Review
  description: Design review
servers:
  - url: https://api.platform.pagopa.it/payment-methods
paths:
  /v2/payment-methods/{id}/sessions:
    post:
      tags:
        - payment-methods
      operationId: createSession
      summary: Create frontend field data paired with a payment gateway session
      description: |-
        This endpoint returns an object containing data on how a frontend can build a form
        to allow direct exchanging of payment information to the payment gateway without eCommerce
        having to store PCI data (or other sensitive data tied to the payment method).
        The returned data is tied to a session on the payment gateway identified by the field `sessionId`.
      parameters:
        - name: id
          in: path
          description: Payment Method id
          required: true
          schema:
            type: string
      responses:
        200:
          description: Payment form data successfully created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateSessionResponse'
        404:
          description: Payment method not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemJson'
        502:
          description: Payment gateway did return error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemJson'
  /v2/payment-methods/{id}/fees:
    post:
      tags:
        - payment-methods
      operationId: calculateFees
      summary: Calculate payment method fees
      description: >
        GET with body payload - no resources created:
        Return the fees for the choosen payment method based on transaction amount etc.
      parameters:
        - name: id
          in: path
          description: Payment Method ID
          required: true
          schema:
            type: string
        - name: maxOccurrences
          in: query
          description: max occurrences
          required: false
          schema:
            type: integer
      requestBody:
        $ref: "#/components/requestBodies/PostPaymentMethodPSP"
      responses:
        '200':
          description: Return list of psp ordered by fee.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CalculateFeeResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemJson'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemJson'
        '500':
          description: Service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemJson'
components:
  schemas:
    CreateSessionResponse:
      type: object
      description: Form data needed to create a payment method input form
      properties:
        orderId:
          type: string
          description: Identifier of the payment gateway session associated to the form
        correlationId:
          type: string
          format: uuid
          description: Identifier of the payment gateway session associated to the transaction flow
        paymentMethodData:
          $ref: "#/components/schemas/CardFormFields"
      required:
        - paymentMethodData
        - orderId
        - correlationId
    CardFormFields:
      type: object
      description: Form fields for credit cards
      properties:
        paymentMethod:
          type: string
        form:
          type: array
          items:
            $ref: '#/components/schemas/Field'
      required:
        - paymentMethod
        - form
    Field:
      type: object
      properties:
        type:
          type: string
          example: "text"
        class:
          type: string
          example: "cardData"
        id:
          type: string
          example: "cardholderName"
        src:
          type: string
          format: uri
          example: "https://<fe>/field.html?id=CARDHOLDER_NAME&sid=052211e8-54c8-4e0a-8402-e10bcb8ff264"
    Lang:
      description: header lang identifier
      type: string
    PaymentNotice:
      description: Payment notice data
      type: object
      properties:
        paymentAmount:
          description: The transaction payment amount
          type: integer
          format: int64
        primaryCreditorInstitution:
          description: The primary creditor institution
          type: string
        transferList:
          description: Transfert list
          type: array
          items:
            $ref: '#/components/schemas/TransferListItem'
      required:
        - paymentAmount
        - primaryCreditorInstitution
        - transferList
    CalculateFeeRequest:
      description: Calculate fee request
      type: object
      properties:
        touchpoint:
          type: string
          description: The touchpoint name
        bin:
          type: string
          description: The user card bin
        idPspList:
          description: List of psps
          type: array
          items:
            type: string
        paymentNotices:
          type: array
          minItems: 1
          maxItems: 5
          items:
            $ref: '#/components/schemas/PaymentNotice'
        isAllCCP:
          description: Flag for the inclusion of Poste bundles. false -> excluded, true -> included
          type: boolean
      required:
        - paymentNotices
        - touchpoint
        - isAllCCP
    CalculateFeeResponse:
      description: Calculate fee response
      type: object
      properties:
        paymentMethodName:
          description: Payment method name
          type: string
        paymentMethodDescription:
          description: Payment method description
          type: string
        paymentMethodStatus:
          $ref: "#/components/schemas/PaymentMethodStatus"
        belowThreshold:
          description: Boolean value indicating if the payment is below the configured threshold
          type: boolean
        bundles:
          description: Bundle list
          type: array
          items:
            $ref: "#/components/schemas/Bundle"
        asset:
          description: Payment method asset
          type: string
        brandAssets:
          description: Brand assets map associated to the selected payment method
          type: object
          additionalProperties:
            type: string
      required:
        - bundles
        - paymentMethodName
        - paymentMethodStatus
        - paymentMethodDescription
        - asset
    Bundle:
      description: Bundle object
      type: object
      properties:
        abi:
          description: Bundle ABI code
          type: string
        bundleDescription:
          description: Bundle description
          type: string
        bundleName:
          description: DEPRECATED, use pspBusinessName instead
          type: string
          deprecated: true
        idBrokerPsp:
          description: Bundle PSP broker id
          type: string
        idBundle:
          description: Bundle id
          type: string
        idChannel:
          description: Channel id
          type: string
        idPsp:
          description: PSP id
          type: string
        onUs:
          description: Boolean value indicating if this bundle is an on-us ones
          type: boolean
        paymentMethod:
          description: Payment method
          type: string
        taxPayerFee:
          description: Tax payer fee
          type: integer
          format: int64
        touchpoint:
          description: The touchpoint name
          type: string
        pspBusinessName:
          description: The psp business name
          type: string
    TransferListItem:
      description: Transfert list item
      type: object
      properties:
        creditorInstitution:
          description: Creditor institution
          type: string
        digitalStamp:
          description: Boolean value indicating if there is digital stamp
          type: boolean
        transferCategory:
          description: Transfer category
          type: string
    ProblemJson:
      type: object
      description: Problem json structure
      properties:
        detail:
          description: Problem detail
          type: string
        status:
          description: Error status code
          maximum: 600
          minimum: 100
          type: integer
          format: int32
          example: 200
        title:
          description: Problem title
          type: string
    PaymentMethodStatus:
      type: string
      description: Payment method status
      enum:
        - ENABLED
        - DISABLED
        - INCOMING
    PaymentMethodManagementType:
      type: string
      description: |
        describes how to manage the payment method authorization flow in wallet and eCommerce domain
        REDIRECT if it must be managed with a redirect flow, 
        ONBOARDABLE if it must be managed with NPG and it is possible to save the payment method in the wallet, 
        NOT_ONBOARDABLE if it must be managed with NPG but the method cannot be saved
      enum:
        - REDIRECT
        - ONBOARDABLE
        - NOT_ONBOARDABLE
  requestBodies:
    PostPaymentMethodPSP:
      required: true
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/CalculateFeeRequest"
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
